@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

html {
  scroll-behavior: smooth;
  background-color: rgba(90, 0, 180, 0.8);
}

.container {
  display: grid;
  grid-gap: 2%;
  height: 100vh;

  grid-template-columns: repeat(auto-fit, 1fr);

  grid-template-areas:
    "header"
    "navbar1"
    "navbar2"
    "main"
    "footer";
}

.container header {
  display: grid;
  grid-area: header;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  padding: 4rem 2rem;
  justify-content: space-between;
  align-content: center;

  background: url("/images/code1400.jpg") center;
  background-size: cover;
  background-position: center;
  }
    
header p {
  font-size: 1.5rem;
}
.container nav.home {
  display: flex;
  background-color: black;
  color: #fff;
  grid-area: navbar1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.container nav.portfolio {
  display: flex;
  grid-area: navbar2;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1%;
  grid-gap: 20px;
  color: #fff;
}

.item1 {
  text-align: center;
}

.item2 {
  text-align: center;
}

.item3 {
  text-align: center;
}
.container footer {
  display: flex;
  grid-area: footer;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      "header header"
      "navbar1 navbar2"
      "main main"
      "footer footer";
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-areas:
      "header header header header"
      "navbar1 navbar1 navbar2 navbar2"
      "main main main main"
      "footer footer footer footer";
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "navbar1 navbar1 navbar1 navbar2 navbar2 navbar2"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }
}
